/* CSS Document */
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Helvetica, "Trebuchet MS", sans-serif;
    background: #ffff url("../imagens/bg.png");
    margin: 15px;
}

#container-geral{
    background: #ede9cc url("../imagens/bg-container.png") top repeat-y;
    margin: 0 auto;
    min-width: 740px;
    max-width: 1180px;
}

#conteudo-topo{
    position: relative;
    background: #dbcd87;
    height: 15.4em;
    min-height: 250px;
}

#area-logo{
    position: absolute;
    top: 0;
    left: 0;
    background: url("../imagens/topo-imagem-principal2.png") no-repeat;
    width: 100%;
    height: 250px; 
    z-index: 1;
}

.logo a{
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 3;
    background: url("../imagens/logo.png") no-repeat;
    width: 151px;
    height: 66px;
    text-indent: -3000px;
}

#area-menu{
    position: absolute;
    top: 0;
    right: 0;
    background: url("../imagens/topo-imagem-lateral.png") no-repeat;
    width: 450px;
    height: 250px;
    z-index: 2;
}

#conteudo-menu{
    margin-left: 40px;
    margin-right: 15px;
    padding-top: 15px;
}

#menu-horizontal{
    border-top: 1px solid #b5ab56;
    border-bottom: 1px solid #b5ab56;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 0.7em;
    color: #8b8448;
    text-transform: uppercase;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

#menu-horizontal ul{    
    float: left;
   
}

#menu-horizontal ul li{
    float: left;
}

#menu-horizontal ul a{    
    display: block;
    padding: 0 0.8em 0 0.8em;
    line-height: 2.5em;
    text-decoration: none;
    color: #8b8448;
}

#menu-horizontal ul a:hover{
    background: #a29750;
    padding: 0 0.8em 0 0.8em;
    color: #fff;
} 

a.reserva{
    text-transform: uppercase;
    background: #a29750;
    color: #fff5b0;
    padding: 5px 10px;
    line-height: 1.7em;
    float: right;
}

a:hover.reserva{   
    color: #fff;
}

#menu-vertical{
    margin-top: 15px;    
}

ul#navegacao{
    float: left;
}

ul#navegacao a{
    text-transform: uppercase;
    font-size: 0.7em;
    padding: 5px;
    color: #8b8448;
    line-height: 30px;
}

ul#navegacao a:hover{
    border-top: 1px solid #b5ab56;
    border-bottom: 1px solid #b5ab56;
    color: #fff;   
}

.depoimento{
    width: 226px;
    height: 164px;
    float: right;
}

#posicao1{
    position: absolute;
    top: 4.5em;
    left: 3em;
}

#posicao2{
    position: absolute;
    top: 6.5em;
    left: 4em;
}

#posicao3{
    position: absolute;
    top: 8.5em;
    left: 5em;
}

#posicao4{
    position: absolute;
    top: 10.5em;
    left: 6em;
}

#posicao5{
    position: absolute;
    top: 12.5em;
    left: 6.7em;
}

#area-principal{
    width: 50%;
    float: left;  
    background: url("../imagens/bg-area-principal.png") top left repeat-x;
    padding: 15px 0;
}


h2{
    color: #7d7640;
    font-size: 1.1em;
    padding: 5px 0;
}

p {
    font-size: 1em;
    margin-bottom: 10px;   
    text-align: justify;
}


#area-lateral{
    width: 50%;
    float: right; 
    background: url("../imagens/bg-area-lateral.png") top left repeat-x;
    padding: 20px 0;
}

.conteudo{
    margin: 0 auto;
    width: 90%;
}

#beneficios li{
    padding: 8px;
    border-bottom: 1px solid #f3efcb;
    height: 6em;
}

#beneficios li a img{
    float: left;
    margin-right: 8px;
}

#beneficios li a p{
    font-size: 0.8em;
    color: #000;
}

#beneficios li h3{
    font-size: 1em;
    color: #615b2d;   
    padding: 5px 0;
    background: url("../imagens/ornamento.png") no-repeat center right;
}

#beneficios li:hover{
    background: #f6f3d6;
    cursor: pointer;
}

#rodape{
    clear: both;
    background: #fff url("../imagens/bg-rodape.png") repeat-x top;
    padding: 16px;
    color: #7d7640;
}